.Events{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

.EventOptions{
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-around;
}

.EventOptions>div{
    background: #e53935;
    background: -webkit-linear-gradient(to left, #e35d5b, #e53935);
    background: linear-gradient(to left, #e35d5b, #e53935);
    cursor: pointer;
    flex: 1;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.EventWindow{
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 82vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.AllEvents{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    flex: 1;
    height: 100%;
    width: 100%;
}

.createEventForm{
    position: relative;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    gap: 10px;
}

.createEventForm>div{
    display: flex;
    width: 90%;
}
.createEventForm>div>label{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.createEventForm>div>input{
    width: 70%;
}

.createEventForm>h3{
    width: 90%;
}

.createEventForm input:not([type="submit"]):not([type="date"]){
    min-width: 230px;
    height: 30px;
    padding: 5px;
    width: 90%;
}

.createEventForm>input[type="date"]
{
    height: 40px;
    padding: 0 10px 0 10px;
}

.createEventForm>input[type="submit"], input[type="button"]{
    width: 50% !important;
    background-color: blue;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 30px 0 30px;
    color: white;
    font-weight: bold;
}

.createEventForm>select{
    height: 40px;
    width: calc(90% + 10px);
}