.Dashboard{
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    overflow-y: scroll;
    gap: 10px;
}

@media only screen and (max-width: 800px)
  {
    .Dashboard{
        flex-direction: column;
    }
  }