.TopBar{
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchBar{
    margin-left: 2%;
    background-color: #dfe4ea;
    height: 60%;
    width: 26%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.searchBar>img{
    height: 50%;
}

.searchBar>input{
    outline: none;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    flex-grow: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.TopBarOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 30%;
    gap: 20px;
    margin-right: 2%;
}

.TopBarOptions>div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopBarOptions>img{
    height: 50%;
    aspect-ratio: 1/1;
}

.TopBarOptions>button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 60%;
    gap: 10px;
    border-radius: 10px;
}

.TopBarOptions>button>img{
    height: 70%;
}